body{
  margin: 0;
  padding: 0;
  background-image: url('skybackground.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  padding: 20px;
}
#dianagranat {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: 400;
}
#positions {
  font-family: 'Assistant', sans-serif;
  text-align: center;
  font-weight: 200;
}
#positions2 {
  font-family: 'Assistant', sans-serif;
  text-align: left;
  font-weight: 400;
}

#footer {
  font-family: 'Assistant', sans-serif;
  text-align: left;
  font-weight: 200;
}
.timeline {
  position: relative;
  .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    .timeline-content {
      position: relative;
      width: calc(50% - 50px);
    }
    &::before {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: 0;
    }
    &::after {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: calc(50% + 30px);
    }
    &:first-child::before, &:last-child::after {
      display: none;
    }
    &:nth-child(even) .timeline-content {
      margin-left: calc(50% + 50px);
    }
    &:nth-child(odd) .timeline-content {
      margin-left: 0;
    }
  }
  .timeline-badge {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #d2d2d2;
    top: calc(50% - 8px);
    right: calc(50% - 8px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
  }
}
@media (max-width: 600px) {
  .timeline {
    .timeline-event {
      .timeline-content {
        width: calc(100% - 70px);
      }
      &::before, &::after {
        left: 19px;
      }
      &:nth-child(even) .timeline-content, &:nth-child(odd) .timeline-content {
        margin-left: 70px;
      }
    }
    .timeline-badge {
      left: 12px;
    }
  }
}
.card-title {
  /*font-weight: 600!important;*/
	line-height: 1em;
	&.gradient {
		display: block;
		position: absolute;
		bottom: 0px;
		padding-bottom: 64px;
		display: block;
		width: 100%;
		background-color: rgba(0,0,0,5);
		background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.8) 100%);
	}
}
.fab {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.fab:hover {
  background-color: rgba(64, 67, 63, 0.114);
  font-size: 150%
}
#imged{
  border: 0px;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}
#title{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(49, 49, 123);
}
#dianapic{
  border: 0px;
  border-radius: 2px;
  width: 500px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;  
  margin-left: auto;  
  margin-right: auto;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow color and size as needed */
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  #dianapic {
    max-width: 100%; /* Set the maximum width to 100% for smaller screens */
    width: auto; /* Allow the image to scale proportionally */
    height: auto; /* Allow the image to scale proportionally */
    /* margin-left: 10px; Add some margin for better spacing on smaller screens */
    /* margin-right: 10px;  Add some margin for better spacing on smaller screens */
    max-height: 80vh; /* Set a maximum height based on the viewport height */
  }
}
.footer {
  bottom: 0;
  margin-top: auto; /* This pushes the footer to the bottom */
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 24px;
  /* margin: 0.5rem 0 1rem 0; */
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0) !important;
}
main {
  flex: 1 0 auto;
}
