{% extends 'about.html' %}
{% block title %}Projects{% endblock %}
{% load static %}
{% block content %}
<article>
  <div class="container">
      <div class="row">
          <div class="col s12 m12">
            <h1 id="positions" class="center-align blue-text text-darken-2">Projects</h1>
            <p id="positions2">The following table provides a comprehensive list of the projects in which I was involved, showcasing my multifaceted contributions and experiences.</p>
                <div class="col s12 m12 l6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'restaurant.jpg' %}">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Table Booking<i class="material-icons right">more_vert</i></span>
                        <p id="title">Developer</p>                        
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Online booking tables system<i class="material-icons right">close</i></span>
                        <p>I've crafted a sophisticated software solution tailored for restaurants, enabling seamless online table reservations and management. Empowering customers with the convenience of booking tables effortlessly. Explore the 
                            <a href="https://github.com/diana2granat/RestaurantBookingSystem" target="_blank">Github repository</a> 
                             for the code and dive into the innovation
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'bursztynowe.png' %}">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Apartments renting<i class="material-icons right">more_vert</i></span>
                        <p id="title">Digital Marketing Manager</p>                        
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Apartment Rental Company<i class="material-icons right">close</i></span>
                        <p>As the custodian of our company's online presence in the dynamic realm of apartment rentals, I oversee and curate our profiles on major platforms such as Booking.com, Facebook, Instagram, and Google. Through strategic management, our profiles boast an impressive score and have achieved prominent visibility, solidifying our standing as a leading player in the industry.
                            <a href="https://g.co/kgs/QSRJwJo" target="_blank"> profile: Bursztynowe Wczasy Sasino</a> 
                        </p>
                        </div>
                    </div>
                </div>                  
                <div class="col s12 m12 l6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'smsvalet.jpg' %}">
                            </div>
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Parking Software<i class="material-icons right">more_vert</i></span>
                            <p id="title">Project Manager | Business Analyst</p>                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Fully ticketless valet solution.<i class="material-icons right">close</i></span>
                            <p>I analyzed and coordinated the implementation of key features for a popular <a href="https://smsvalet.com" target="_blank">SMS Valet</a> application, a state-of-the-art car park management system. Leading the development efforts, I successfully introduced new product features that significantly enhanced user engagement, ultimately driving a substantial increase in monthly active users to over a few million</p>
                            </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'koluszki.jpg' %}">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Warehouse Automation<i class="material-icons right">more_vert</i></span>
                        <p id="title">Engineer</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Heating and lightning systems<i class="material-icons right">close</i></span>
                            <p>I coded the warehouse's automation system, making sure everything runs smoothly and efficiently. I improved the system's reliability, helping the warehouse operate at its best and meet high automation standards. This not only kept things running smoothly but also made the facility more efficient and sustainable.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'kruszyniany.jpg' %}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Museum Automation<i class="material-icons right">more_vert</i></span>
                                <p id="title">Engineer</p>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Heating and lightning systems<i class="material-icons right">close</i></span>
                            <p>I handled the programming for the museum's automation system, ensuring it operates smoothly and efficiently. My work involved coding to enhance the system's functionality, contributing to the overall operational effectiveness of the  <a href="https://centrumkruszyniany.pl/" target="_blank">Tatar museum</a> .</p>
                            </div>
                    </div>
                </div>
                <div class="col s12 m12 l6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static 'smartshape.png' %}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Online Shop<i class="material-icons right">more_vert</i></span>
                                <p id="title">Owner & Manager & Creative Director</p>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Online clothing store<i class="material-icons right">close</i></span>
                            <p>I was the driving force behind an online clothing store, wearing many hats as the owner, manager, and marketing specialist. I worked tirelessly to streamline our operations, making it easier for customers to shop online and receive their products promptly. Through strategic efforts, I successfully boosted our income, making our business thrive in the competitive world of online retail. Along the way, I hired and managed a small team, ensuring everyone is aligned with our goals and delivering their best work. It was a journey of growth and success, and I'm proud of the strides we've made together. <a href="https://www.youtube.com/watch?v=FvFSrhuBW5I" target="_blank">SmarShape Summury 2018/19</a> .</p>
                            </div>
                    </div>
                </div>
                             
              
          </div> 
      </div>
  </div>
</article>
{% endblock  %}